 <div class="pageheader">
  <h1><i class="fa fa-hotel fa-2x yellow"></i> Rooms <small>Create New Room</small></h1>
  <div class="breadcrumb-wrapper hidden-xs">
    <span class="label">You are here:</span>
    <ol class="breadcrumb">
      <li><a href="/">Dashboard</a>
      </li>
      <li>Rooms</li>
      <li class="active">New Room</li>
    </ol>
  </div>
</div>
<section id="main-content" class="animated fadeInUp">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">New Room Wizard</h3>
          <div class="actions pull-right">
           <i class="fa fa-expand"></i>
           <i class="fa fa-chevron-down"></i>
           <i class="fa fa-times"></i>
         </div>
       </div>
       <div class="panel-body">
        <section class="fuelux">
          <div id="NewRoomWizard" class="wizard">
            <ul class="steps">
              <li data-target="#step1" class="active">
                <span class="badge badge-info">1</span>Room Info<span class="chevron"></span>
              </li>
            </ul>
          </div>

          <%= form_for(@room, class: "form-horizontal") do |f| %>
          <% if @room.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@room.errors.count, "error") %> prohibited this device from being saved:</h2>

            <ul>
              <% @room.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>

          <div class="step-content">
            <div class="step-pane active" id="step1">

              <div class="row padding-top">

                <div class="form-group col-md-offset-1 col-md-5">
                  <div class="input-group">
                    <span class="input-group-addon control-label">Select Property</span>
                    <%= f.select :property_id, options_for_select(collection_options(@configuration[:properties]), active_property), {:prompt => 'Select'}, {class: "form-control box-left"} %>
                  </div><br/>
                </div>

                <div class="form-group col-md-5">
                  <div class="input-group">
                    <span class="input-group-addon control-label">Select Room Location</span>
                    <%= f.select :location, options_for_select(collection_options(@configuration[:room_location_options])), {:prompt => 'Select'}, {class: "form-control box-left"} %>
                  </div><br/>
                </div>

              </div>

              <div class="col-md-12 divider"></div><br/>

              <div class="row">
                <div class="form-group col-md-offset-1 col-md-5">
                  <div class="input-group">
                    <span class="input-group-addon">Name: </span>
                    <%= f.text_field :name, class: 'form-control', placeholder: "Room Name" %>
                  </div><br/>
                </div>


                <div class="form-group col-md-5">
                  <div class="input-group">
                    <span class="input-group-addon">Description: </span>
                    <%= f.text_area :description, class: 'form-control' %>
                  </div><br/>
                </div>
              </div>

              <div class="row">
                <div class="form-group text-center">
                  <span class="col-md-offset-1 col-md-4"><%= f.submit class: "btn btn-primary btn-block" %></span>
                  <span class="col-md-offset-2 col-md-4"><%= link_to "Return To Dashboard", dashboard_path, class: "btn btn-default btn-block" %></span>
                </div>
              </div>



              <% end %>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :javascript do %>
<!--Load these page level functions-->
<script>
$(document).ready(function() {
  app.formWizard();
});
</script>
<% end %>