<%- model_class = Github -%>
<div class="main-content padding-all-lg">
  <div class='container-body'>
    <div class="row">
      <div class="padding-top col-md-offset-1 col-md-10">
        <div class="panel panel-dark">
          <div class="panel-heading">
            <%= image_tag("logo/GitHubLight.png", class: "logo-4em") %>
            <%= image_tag("logo/GitHubLogoLight.png", class: "logo-4em") %> 
          </div>

          <div class="panel-body social-profile">
            <div class="row">
              <div class="col-md-3">
                <%= image_tag(@github.image_url, class: "social-profile-square embossed") %>
              </div>

              <div class="col-md-9">
                <dl class="dl"> 
                  <div class="col-md-8">
                    <dt class="label label-default">Screen Name</dt>
                    <dd><pre class="prettyprint"><%= @github.screen_name %></pre></dd>
                  </div>
                  
                  <div class="col-md-4">
                    <dt class="label label-default">Member Since</dt>
                    <dd><pre class="prettyprint"><%= @github.member_since.to_formatted_s(:long) %></pre></dd>
                  </div>

                  <div class="col-md-12">
                    <% unless @github.location.nil? %>
                      <dt class="label label-default"><%= model_class.human_attribute_name(:location) %></dt>
                      <dd><pre class="prettyprint"><%= @github.location %></pre></dd>
                    <% end %>
                  </div>

                  <div class="col-md-12">
                    <dt class="label label-default">Github Profile</dt>
                    <dd>
                      <%= link_to @github.profile_url do %>
                        
                        <pre class="prettyprint"><i class="fa fa-github fa-lg"></i>  <%= @github.profile_url %></pre>
                      <% end %>
                    </dd>
                  </div>

                  <div class="col-md-12">
                    <dt class="label label-default">Personal Website/Blog</dt>
                    <dd>
                      <%= link_to @github.personal_website_url do %>
                        
                        <pre class="prettyprint"><i class="fa fa-external-link fa-lg"></i>  <%= @github.personal_website_url %></pre>
                      <% end %>
                    </dd>
                  </div>

                  <div class="col-md-12">
                    <dt class="label label-default">Total Data Stored on Github</dt>
                    <dd><pre class="prettyprint file-siza"><%= number_with_delimiter(@github.total_data_stored) %> MB</pre></dd> 
                  </div>
                </dl>
              </div>
            </div>

            <div class="row social-profile-row">
               <div class="col-md-2 text">
                <dt class="label label-default">Followers</dt>
                <dd class="text-center"><pre class="prettyprint"><b><%= @github.followers_count %></b></pre></dd>
              </div>

               <div class="col-md-2 text">
                <dt class="label label-default">Following</dt>
                <dd class="text-center"><pre class="prettyprint"><b><%= @github.following_count %></b></pre></dd>
              </div>

               <div class="col-md-2 text">
                <dt class="label label-default">Your Public Repos</dt>
                <dd class="text-center"><pre class="prettyprint"><b><%= @github.public_repos_count %></b></pre></dd>
              </div>

               <div class="col-md-3 text">
                <dt class="label label-default">Private Repositories</dt>
                <dd class="text-center"><pre class="prettyprint"><small>Personal:</small> <b><%= @github.personal_private_repos_count %></b> | <small>Total:</small> <b><%= @github.private_repos_count %></b></pre></dd>
              </div>

              <div class="col-md-3 text">
                <dt class="label label-default">Gists</dt>
                <dd class="text-center"><pre class="prettyprint"><small>Public:</small> <b><%= @github.public_gists_count %></b> | <small>Private:</small> <b><%= @github.private_gists_count %></b></pre></dd>
              </div>
            </div>
          </div>

          <div class="panel-footer">
            <%= link_to 'Dashboard', dashboard_path, :class => 'btn btn-default embossed'  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
