<div class='container-body'>
  <div class="row">
    <div class="col-md-offset-1 col-md-10 padding-top">
      <div class="panel panel-primary">

        <div class="panel-heading">
          <h3 class="panel-title">Status</h3>
        </div>
        <div class="panel-body">
          <%= bootstrap_form_for(@status) do |f| %>
          <% if @status.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@status.errors.count, "error") %> prohibited this Status from being saved:</h2>

            <ul>
              <% @status.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>

            <%= f.text_field :code %>
            <%= f.text_field :name %>
            <%= f.text_field :icon %>

            <%= f.submit nil, :class => 'btn btn-primary' %>
            <%= link_to statuses_path, class: 'btn btn-default' do %>
              <span class="glyphicon glyphicon-info-sign"></span>
              Cancel
            <% end %>
            <%= link_to dashboard_path, class: 'btn btn-success' do %>
              <span class="glyphicon glyphicon-list-alt"></span>
              Dashboard
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
