<div class="login-wrapper">
  <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-offset-1 col-md-10 padding-top">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h4><%= t('.sign_in', :default => "Sign in") %></h4>
          </div>
          <div class="panel-body">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
              </div>
              <% if devise_mapping.rememberable? %>
                <div class="checkbox">
                  <label>
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </label>
                </div>
                <% end %>
              <div class="login-wrapper-group"> 
                <div class="submit-btn-wrapper">
                  <%= f.submit  t('.sign_in', :default => "Sign in"), class: "btn btn-lg btn-block btn-primary embossed" %>
                </div>
             
            <% end %>
            
            <div class="login-wrapper-group">
              <div class="social-login-block embossed">
                <% SmartSyncV25::Application::OMNIAUTH.each_value do |provider| %>
                  <div class="col-md-4"
                    <%= button_to omniauth_authorize_path(resource_name, provider[:reference].downcase), class: "btn btn-block btn-social btn-#{provider[:name].downcase} margin-all-sm embossed" do %>
                      <i class="fa fa-<%= provider[:name].downcase %>"></i> Sign in with <%= provider[:name] %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>

          </div> 
        </div> 
      </div> 
    </div> 
  </div> 
</div> 
