<div class='container-body' id="form-for-reminders">
	<div class="row">
		<div class="col-md-offset-1 col-md-10 padding-top">
			<div class="panel panel-primary">

				<div class="panel-heading">
					<h3 class="panel-title">Reminders and Notifications</h3>
				</div>
				
				<div class="panel-body">
					<%= bootstrap_form_for(@reminder) do |f| %>
						
						<div class="row">
							<div class="col-md-8">
								<%= f.text_field :name %>
							</div> 

							<div class="col-md-4" id="select-property-div">
	              <%= f.label "Property" %>
	              <%= prompt_message1 = "No Properties Available" if current_user.properties.count == 0 %>
	              <%= collection_select(:reminder,
	                                    :property_id, current_user.properties, 
	                                    :id, :name, { :prompt => "#{prompt_message1 || 'Select Property'}" },
	                                    { class: "form-control",
	                                    	id: "selected-property-field" }) %>
							</div> 
						</div>

						<div class="row">
							<div class="col-md-12">
								<%= f.text_field :description %>
							</div>
						</div> 

						<div class="row">
							<div class="col-md-4">
	              <%= f.label "Recipient Name" %>
	              <% prompt_message2 = "No Recipients Available" if recipient_options_for_reminders(@property).count == 0 %>
	              <%= collection_select(:reminder,
	                                    :recipient_id, recipient_options_for_reminders(@property),
	                                    :id, :name, { :prompt => "#{prompt_message2}" },
	                                    { class: "form-control",
	                                    	id: "selected-recipient-field" }) %>
							</div> 
							<div class="col-md-4">
								<%= f.phone_field :recipient_phone_number, class: "form-control-static", 
	                                    										 id: "recipient-phone-number-field" %>
							</div>
						</div> 

						<div class="row">
							<div class="col-md-4">
								<%= f.date_select :notification_time, :order => [:month, :day, :year], :label => "Notification Date", class: "padding-left padding-right" %>
							</div>

							<div class="col-md-2">
								<%= f.time_select :notification_time, :ampm => true, class: "form-input padding-left" %>
							</div>
							
							<div class="col-md-4">
								<%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all.sort, default: "Pacific Time (US & Canada)" %>
							</div>
						</div> 
					</div>
	        
	        <div class="panel-footer">
	          <div class="row">
	            <div class="form-group text-right">
	              <span class="col-md-4"><%= f.submit nil, class: 'btn btn-primary btn-block embossed' %></span>
	              <span class="col-md-4"><%= button_to "Return To Dashboard", dashboard_path, :method => "get", :class => 'btn btn-success btn-block embossed' %></span>
	              <span class="col-md-4"><%= button_to "View All Reminders", reminders_path, :method => "get", :class => 'btn btn-warning btn-block embossed' %></span>
	            </div>
	          </div>
	        </div>
				</div>
	    <% end %>
		</div>
	</div>
</div>

