<div class='container-body'>
	<div class="row">
		<div class="col-md-offset-1 col-md-10 padding-top">
			<div class="panel panel-primary">

				<div class="panel-heading">
					<h3 class="panel-title">Reminders and Notifications</h3>
				</div>
				
				<div class="panel-body">
					<%= bootstrap_form_for(@reminder) do |f| %>
						
						<div class="col-md-12">
							<%= f.text_field :name %>
						</div> 

						<div class="col-md-12">
							<%= f.text_field :description %>
						</div>
						
						<div class="col-md-4">
							<%= f.label 'Recipient' %>	
							<%= collection_select(:reminder,
																		:recipient_id, User.all, 
																		:id, :name, 
																		{ :prompt => 'Please select the user to send a reminder to: '}, 
																		class: "form-control")  %>
						</div> 
					
						<div class="col-md-4">
							<%= f.text_field :recipient_name, class: "form-control-static" %>
						</div>

						<div class="col-md-4">
							<%= f.phone_field :recipient_phone_number, class: "form-control-static" %>
						</div><br />

						
						<div class="col-md-4">
							<%= f.date_select :notification_time, :order => [:month, :day, :year], :label => "Notification Date", class: "padding-left padding-right" %>
						</div>

						<div class="col-md-2">
							<%= f.time_select :notification_time, :ampm => true, class: "form-input padding-left" %>
						</div>
						
						<div class="col-md-4">
							<%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all.sort, default: "Pacific Time (US & Canada)" %>
						</div><br />

						<div class="col-md-12">
							<%= f.submit nil, :class => 'btn btn-primary' %>
							
							<%= link_to reminders_path, class: 'btn btn-default' do %>
		            <span class="glyphicon glyphicon-info-sign"></span> Cancel
	            <% end %>
	            
	            <%= link_to dashboard_path, class: 'btn btn-primary' do %>
	              <span class="glyphicon glyphicon-list-alt"></span> Dashboard
	            <% end %>
	          <div>
	        <% end %>
				</div>
			</div>
		</div>
	</div>
</div>

