<%- model_class = Reminder -%>
<div class="main-content">
  <div class="pageheader">
    <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
    <p class="description">SmartSync Reminders and Notifications</p>
    <div class="breadcrumb-wrapper hidden-xs">
      <span class="label">You are here:</span>
      <ol class="breadcrumb">
          <li class="active"><%=t '.title', :default => model_class.model_name.human.titleize %></h1></li>
      </ol>
    </div>
  </div>

  <div class='container-body'>
    <div class="row">
      <div class="col-md-offset-1 col-md-10 padding-top">
        <div class="panel panel-primary">

          <div class="panel-heading">
            <%= link_to t('.back', :default => t("helpers.links.back")),
                          reminders_path, :class => 'btn btn-default btn-xs'  %>
            <%= link_to t('.edit', :default => t("helpers.links.edit")),
                        edit_reminder_path(@reminder), :class => 'btn btn-default btn-xs' %>
            <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                        reminder_path(@reminder),
                        :method => 'delete',
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                        :class => 'btn btn-danger btn-xs' %>
          </div>

          <div class="panel-body">
            <div class="fieldset">
              <dl>
                  <dt class="label label-default"><%= model_class.human_attribute_name(:name) %></dt>
                  <dd><pre class="prettyprint"><%= @reminder.name %></pre></dd>
                  <dt class="label label-default"><%= model_class.human_attribute_name(:description) %></dt>
                  <dd><pre class="prettyprint"><%= @reminder.description %></pre></dd>
                  <dt class="label label-default"><%= model_class.human_attribute_name(:recipient_id) %></dt>
                  <dd><pre class="prettyprint"><%= @reminder.recipient_id %></pre></dd>
                  <dt class="label label-default"><%= model_class.human_attribute_name(:recipient_phone_number) %></dt>
                  <dd><pre class="prettyprint"><%= number_to_phone(@reminder.recipient_phone_number, area_code: true) %></pre></dd>
                  <dt class="label label-default"><%= model_class.human_attribute_name(:notification_time) %></dt>
                  <dd><pre class="prettyprint"><%=l @reminder.notification_time, format: :long %></pre></dd>
                  <dt class="label label-default"><%= model_class.human_attribute_name(:time_zone) %></dt>
                  <dd><pre class="prettyprint"><%= @reminder.time_zone %></pre></dd>
              </dl>
            </div>
          </div> 
        </div>
      </div>   
    </div>
  </div> 
</div> 
