<div class="row">
  <div class="col-md-offset-1 col-md-10 padding-top">
    <div class="panel panel-primary">

      <div class="panel-heading">
        <h3 class="panel-title">Location Options</h3>
      </div>
      <div class="panel-body">
        <%= bootstrap_form_for(@device) do |f| %>
          <% if @device.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h2>

              <ul>
              <% @device.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

            <%= f.text_field :name %>
            <%= f.text_area :description %>
            <%= f.check_box :favorite, :data => { :size=>'small', 'on-color'=>'success', 'on-text'=>'YES', 'off-text'=>'NO' } %>
            <%= f.number_field :status_code %>
            <%= f.number_field :status_level %>
            <%= f.text_field :brand %>
            <%= f.text_field :device_type %>
            <%= f.text_field :location %>
            <%= f.text_field :EDID %>
            <%= f.text_field :version %>
            <%= f.text_field :image %>
            <%= f.check_box :controllable, :data => { :size=>'small', 'on-color'=>'success', 'on-text'=>'YES', 'off-text'=>'NO' } %>
            <%= f.number_field :api_id %>
            <%= f.text_field :api_firmware_version %>            
            <%= f.check_box :dimmable, :data => { :size=>'small', 'on-color'=>'success', 'on-text'=>'YES', 'off-text'=>'NO' } %>
            <%= f.number_field :dim_level %>
            <%= f.number_field :ramp_rate %>
            <%= f.number_field :led_level %>
            <%= f.check_box :timer_enabled, :data => { :size=>'small', 'on-color'=>'success', 'on-text'=>'YES', 'off-text'=>'NO' } %>
            <%= f.text_field :group %>

            <%= f.submit %>
            <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                devices_path, :class => 'btn btn-default' %>
            <%= link_to dashboard_path, class: 'btn btn-default' do %>
              <span class="glyphicon glyphicon-list-alt"></span>
              Dashboard
            <% end %>
            <%= link_to devices_path, class: 'btn btn-primary' do %>
              <span class="glyphicon glyphicon-info-sign"></span>
              All Devices
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
