<%= form_for @schedule_action_series, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :frequency, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :frequency, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :period, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :period, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :starttime, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :starttime, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :endtime, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :endtime, :class => 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :all_day, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :all_day, :class => 'text_field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  schedule_action_series_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
