<%= form_for(@comamnd) do |f| %>
  <% if @comamnd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comamnd.errors.count, "error") %> prohibited this comamnd from being saved:</h2>

      <ul>
      <% @comamnd.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :resource %><br>
    <%= f.text_field :resource %>
  </div>
  <div class="field">
    <%= f.label :endpoint %><br>
    <%= f.text_field :endpoint %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
