<p id="notice"><%= notice %></p>

<h1>Listing Comamnds</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>
      <th>Resource</th>
      <th>Endpoint</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comamnds.each do |comamnd| %>
      <tr>
        <td><%= comamnd.name %></td>
        <td><%= comamnd.description %></td>
        <td><%= comamnd.type %></td>
        <td><%= comamnd.resource %></td>
        <td><%= comamnd.endpoint %></td>
        <td><%= link_to 'Show', comamnd %></td>
        <td><%= link_to 'Edit', edit_comamnd_path(comamnd) %></td>
        <td><%= link_to 'Destroy', comamnd, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comamnd', new_comamnd_path %>
