<div id="add-email" class="container">
  <h1>Add Email</h1>
  <%= bootstrap_form_for(current_user, :as => 'user', :url => finish_signup_path(current_user), :html => { role: 'form'}) do |f| %>
    <% if @show_errors && current_user.errors.any? %>
      <div id="error_explanation">
        <% current_user.errors.full_messages.each do |msg| %>
          <%= msg %><br>
        <% end %>
      </div>
    <% end %>
    <%= f.text_field :firstname %>
    <%= f.text_field :lastname %>
    <%= f.text_field :name, :required => true, :autofocus => true %>
    <%= f.email_field :email, :required => true %>
    <%= f.password_field :password %>
    <%= f.password_field :password_confirmation %>


    <%= f.submit 'Continue', :class => 'btn btn-primary' %>
  <% end %>
</div>