<div class='container-body'>
  <div class="row">
    <div class="col-md-offset-1 col-md-10 padding-top">
      <div class="panel panel-primary">

        <div class="panel-heading">
          <h3 class="panel-title">Properties</h3>
        </div>
        <div class="panel-body">
          <%= bootstrap_form_for(@property) do |f| %>
          <% if @property.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@property.errors.count, "error") %> prohibited this property from being saved:</h2>

            <ul>
              <% @property.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>
            <div class="col-md-8"> 
              <%= f.text_field :name %>
            </div> 
            <div class="col-md-4">
              <%= f.hidden_field(:image_cache) %>
              <%= f.file_field(:image, class: "form-control file-input") %>
            </div>
            <div class="col-md-12">
              <%= f.text_area :description %>
              </div>
            <div class="col-md-12">
              <%= f.text_field :address %>
            </div>
            <div class="col-md-6">
              <%= f.text_field :city %>
            </div> 
            <div class="col-md-3">
              <%= f.text_field :state %>
            </div> 
            <div class="col-md-3">
              <%= f.text_field :zipcode %>
            </div>
            
        </div>

        <div class="panel-footer">
          <div class="row">
            <div class="col-md-12 text-right">
              <%= f.submit nil, class: 'btn btn-primary embossed' %>
              <%= button_to "All Properties", properties_path, :method => "get", class: 'btn embossed' %>
              <%= button_to "Cancel", properties_path, :method => "get", :class => 'btn btn-warning embossed' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
