<%- model_class = Property -%>
<div class="main-content padding-all-lg">
  <div class='container-body'>
    <div class="row">
      <div class="padding-top col-md-offset-1 col-md-10">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <div class="property-icon">
              <%= thumbnail(@property.image) %>
              <span class="white-color titleprint">
                <%= @property.name %>
              </span>
            </div>
          </div>

          <div class="panel-body social-profile">    
            <div class="fieldset">
              <dl>
                <div class="col-md-12">
                  <dt class="label label-default"><%= model_class.human_attribute_name(:description) %></dt>
                  <dd><pre class="prettyprint"><%= @property.description %></pre></dd>
                </div>

                <div class="col-md-12">
                  <dt class="label label-default"><%= model_class.human_attribute_name(:address) %></dt>
                  <dd><pre class="prettyprint"><%= @property.address %></pre></dd>
                </div> 

                <div class="col-md-8">
                  <dt class="label label-default"><%= model_class.human_attribute_name(:city) %></dt>
                  <dd><pre class="prettyprint"><%= @property.city %></pre></dd>
                </div> 

                <div class="col-md-2">
                  <dt class="label label-default"><%= model_class.human_attribute_name(:state) %></dt>
                  <dd><pre class="prettyprint"><%= @property.state %></pre></dd>
                </div> 

                <div class="col-md-2">
                  <dt class="label label-default"><%= model_class.human_attribute_name(:zipcode) %></dt>
                  <dd><pre class="prettyprint"><%= @property.zipcode %></pre></dd>
                </div> 
              </dl>
            </div>
          </div>
          
          <div class="panel-footer">
            <div class="text-right">
              <%= button_to "Back", properties_path, :method => "get", :class => 'btn btn-primary embossed' %>
              
              <%= button_to "Edit", edit_property_path(@property), :method => "get", :class => 'btn btn-primary embossed' %>
                
              <%= button_to "Delete", [:delete, @property], :method => "get", :class => 'btn btn-danger embossed' %>
            </div> 
          </div>
        </div> 
      </div> 
    </div> 
  </div> 
</div> 