<%- model_class = ScheduleAction -%>
<div class="main-content">
  <div class="pageheader">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
    <p class="description">Manage your SmartSync Home Scheduled Actions</p>
    <div class="breadcrumb-wrapper hidden-xs">
      <span class="label">You are here:</span>
      <ol class="breadcrumb">
          <li class="active"><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1></li>
      </ol>
    </div>
  </div>

  <div class='container-body'>
    <div class="row">
      <div class="col-md-offset-1 col-md-10 padding-top">
        <div class="panel panel-primary">

          <div class="panel-heading">
            <%= link_to 'New Smart Scheduled Actions',new_schedule_action_path, :class => 'btn btn-primary' %>
          </div>

          <div class="panel-body">
            <div class="table-responsive">
              <table class="table table-striped table-bordered table-hover">
                <thead>
                  <tr>
                    <th><%= model_class.human_attribute_name(:id) %></th>
                    <th><%= model_class.human_attribute_name(:name) %></th>
                    <th><%= model_class.human_attribute_name(:description) %></th>
                    <th><%= model_class.human_attribute_name(:starttime) %></th>
                    <th><%= model_class.human_attribute_name(:endtime) %></th>
                    <th><%= model_class.human_attribute_name(:all_day) %></th>
                    <th><%= model_class.human_attribute_name(:type) %></th>
                    <th><%= model_class.human_attribute_name(:published) %></th>
                    <th><%= model_class.human_attribute_name(:published_on) %></th>
                    <th><%= model_class.human_attribute_name(:status) %></th>
                    <th><%= model_class.human_attribute_name(:created_at) %></th>
                    <th><%=t '.actions', :default => t("helpers.actions") %></th>
                  </tr>
                </thead>
                <tbody>
                  <% unless @schedule_actions.nil? %>
                  <% @schedule_actions.each do |schedule_action| %>
                    <tr>
                      <td><%= schedule_action.id %></td>
                        <td><%= schedule_action.name %></td>
                        <td><%= schedule_action.description %></td>
                        <td><%= schedule_action.starttime %></td>
                        <td><%= schedule_action.endtime %></td>
                        <td><%= schedule_action.all_day %></td>
                        <td><%= schedule_action.type %></td>
                        <td><%= schedule_action.published %></td>
                        <td><%= schedule_action.published_on %></td>
                        <td><%= schedule_action.status %></td>
                      <td><%=l schedule_action.created_at, format: :long %></td>
                      <td>
                        <%= link_to schedule_action_path(schedule_action), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
                          <%= glyph 'info-sign' %>
                        <%- end -%>
                        <%= link_to edit_schedule_action_path(schedule_action), :class => 'btn btn-xs', :title => "#{ t('.edit', :default => t('helpers.links.edit')) }" do %>
                          <%= glyph 'pencil' %>
                        <%- end -%>
                        <%= link_to schedule_action_path(schedule_action), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
                          <%= glyph 'remove' %>
                        <%- end -%>
                      </td>
                    </tr>
                  <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div> 
        </div>
      </div>   
    </div>
  </div> 
</div> 
