<div class='container-body'>
  <div class="row">
    <div class="col-md-offset-1 col-md-10 padding-top">
      <div class="panel panel-primary">

        <div class="panel-heading">
          <h3 class="panel-title">Location Options</h3>
        </div>
        <div class="panel-body">
          <%= bootstrap_form_for(@location_option) do |f| %>
            <%= f.text_field :name %>
            <%= f.text_field :description %>
            <%= f.text_field :location_type %>
        </div>
        
        <div class="panel-footer">
          <div class="row">
            <div class="form-group text-right">
              <span class="col-md-4"><%= f.submit nil, class: 'btn btn-primary btn-block embossed' %></span>
              <span class="col-md-4"><%= button_to "Return To Dashboard", dashboard_path, :method => "get", :class => 'btn btn-success btn-block embossed' %></span>
              <span class="col-md-4"><%= button_to "View All Location Options", location_options_path, :method => "get", :class => 'btn btn-warning btn-block embossed' %></span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
