<%- model_class = Schedule -%>
<div class="main-content">
  <div class="pageheader">
    <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
    <p class="description">Manage your Smart Schedules</p>
    <div class="breadcrumb-wrapper hidden-xs">
      <span class="label">You are here:</span>
      <ol class="breadcrumb">
         <li class="active"><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></li>
      </ol>
    </div>
	</div>
  <div class='container-body' id="edit-reminders">
    <div class='container-body'>
      <div class="row">
        <div class="col-md-offset-1 col-md-10 padding-top">
          <div class="panel panel-primary">

            <div class="panel-heading">
              <h3 class="panel-title">Smart Schedules</h3>
            </div>
            
            <div class="panel-body">
              <%= bootstrap_form_for(@schedule) do |f| %>
                
                <div class="row">
                  <div class="col-md-7">
                    <%= f.text_field :name %>
                  </div> 

                  <div class="col-md-5">
                    <div class="col-md-8">
                      <%= f.text_field :type %>
                    </div>

                    <div class="col-md-4">
                      <%= f.select :favorite, [[true, "Yes"], [false, "No"]], { label: "Favorite:" }, { class: "selectpicker" } %>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-7">
                    <%= f.text_area :description %>
                    <%= f.text_field :status %>

                    <div class="panel panel-primary">
                      <div class="panel-heading text-center ">
                        <b class="panel-title">Create Schedule Actions and Schedule Action Series</b>
                      </div>
                      
                      <div class="panel-body">
                        <div class="col-md-6 text-center">
                          <b>Scheduled Actions</b>
                        </div>

                        <div class="col-md-6 text-center">
                          <b>Scheduled Action Series</b>
                        </div>
                      
                        <div class="col-md-6 text-center">
                          <%= link_to schedule_actions_path(@schedule), :class => 'btn btn-sm btn-info' do %>
                            <i class="fa fa-list-ul"></i> View All
                          <% end %>

                          <%= link_to new_schedule_action_path(@schedule), :class => 'btn btn-sm btn-warning' do %>
                            <i class="fa fa-plus-square"></i> Create New
                          <% end %>
                        </div>

                        <div class="col-md-6 text-center">
                          <%= link_to schedule_action_series_index_path(@schedule), :class => 'btn btn-sm btn-info' do %>
                            <i class="fa fa-list-ul"></i></span> View All
                          <% end %>

                          <%= link_to new_schedule_action_series_path(@schedule), :class => 'btn btn-sm btn-warning' do %>
                            <i class="fa fa-plus-square"></i> Create New
                          <% end %>
                        </div>
                      </div>

                    </div>
                  </div>
                  
                  <div class="col-md-5">
                    <div class="col-md-5">
                      <%= f.select :published, [[true, "Yes"], [false, "No"]], { label: "Published:" }, { class: "selectpicker" } %>
                    </div>
                    
                    <div class="col-md-7">
                      <%= f.datetime_field :published_on, :format => :long, :label => "Date Published", class: "form-input-static", :disabled => "disabled", :value => @schedule.try(:published_on).try(:strftime,'%m/%d/%Y at %I:%M %P') %>
                    </div>

                    <div class="col-md-5">
                      <%= f.number_field :executed_count, label: "Executed Count:", class: "form-input-static", :disabled => "disabled" %>
                    </div>
                    
                    <div class="col-md-7">
                      <%= f.datetime_field :executed_last, :format => :long, :label => "Date Executed Last:", class: "form-input-static", :disabled => "disabled", :value => @schedule.try(:executed_last).try(:strftime,'%m/%d/%Y at %I:%M %P') %>
                    </div>
                    <div class="col-md-5">
                      <%= f.label "Created By" %>
                      <%= collection_select(:schedule,
                                            :user_id, User.all, 
                                            :id, :name, {},
                                            { class: "form-control", :disabled => "disabled" }) %>
                    </div>
                    
                    <div class="col-md-7">
                      <%= f.datetime_field :created_at, :format => :long, :label => "Date Created", class: "form-input-static", :disabled => "disabled", :value => @schedule.try(:created_at).try(:strftime,'%m/%d/%Y at %I:%M %P') %>
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="panel-footer text-right">
                <%= f.submit nil, :class => 'btn btn-primary' %>
                
                <%= link_to schedules_path, class: 'btn btn-default' do %>
                  <span class="glyphicon glyphicon-info-sign"></span> Cancel
                <% end %>
                
                <%= link_to dashboard_path, class: 'btn btn-primary' do %>
                  <span class="glyphicon glyphicon-list-alt"></span> Dashboard
                <% end %>
              </div>
            </div>


          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>