<%- model_class = Schedule -%>
<div class="main-content">
	<div class="pageheader">
		<h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1>
		<p class="description">Manage your Smart Schedules</p>
		<div class="breadcrumb-wrapper hidden-xs">
			<span class="label">You are here:</span>
			<ol class="breadcrumb">
				 <li class="active"><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></li>
			</ol>
		</div>
	</div>
	<div class='container-body' id="new-reminders">
		<div class='container-body'>
		  <div class="row">
		    <div class="col-md-offset-1 col-md-10 padding-top">
		      <div class="panel panel-primary">

		        <div class="panel-heading">
		          <h3 class="panel-title">Smart Schedules</h3>
		        </div>
		        
		        <div class="panel-body">
		          <%= bootstrap_form_for(@schedule) do |f| %>
		            
		            <div class="col-md-7">
		              <%= f.text_field :name %>
		            </div> 

		            <div class="col-md-3">
		              <%= f.text_field :type %>
		            </div>

		            <div class="col-md-2">
		              <%= f.select :favorite, [[true, "Yes"], [false, "No"]], { label: "Favorite:" }, { class: "selectpicker" } %>
		            </div>

		            <div class="col-md-7">
		              <%= f.text_area :description %>
		            </div>

		            <div class="col-md-3">
		              <%= f.label "Property" %>
		              <%= collection_select(:schedule,
		                                    :property_id, current_user.properties, 
		                                    :id, :name, {},
		                                    { class: "form-control" }) %>
		            </div>
		            
		            <div class="col-md-2">
		              <%= f.select :published, [[true, "Yes"], [false, "No"]], { label: "Published:" }, { class: "selectpicker" } %>
		            </div>
		            
		            <div class="col-md-12">
		              <%= f.submit nil, :class => 'btn btn-primary' %>
		              
		              <%= link_to schedules_path, class: 'btn btn-default' do %>
		                <span class="glyphicon glyphicon-info-sign"></span> Cancel
		              <% end %>
		              
		              <%= link_to dashboard_path, class: 'btn btn-primary' do %>
		                <span class="glyphicon glyphicon-list-alt"></span> Dashboard
		              <% end %>
		            <div>
		          <% end %>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>