 <div class="sidebar-profile">
	<div class="profile-body">
		<span class="avatar">
			<%= thumbnail(current_user.image) if user_signed_in? %>
			<i class="on border-dark animated bounceIn"></i>
		</span>
	</div>
	<div class="body"
		<span class="text-left">
			<h4 class=""><%= current_user.name if user_signed_in? %></h4>
			<small class="title"><%= current_user.email if user_signed_in? %></small>
		</span>
	</div>
</div>

	<nav>
		<h5 class="sidebar-header">Navigation</h5>
		<ul class="nav nav-pills nav-stacked">

			<li class="nav-dropdown <%= 'active open' if controller?('users')%>">
				<a href="#">
					<i class="fa fa-fw fa-user"></i> User
				</a>
				<ul class="nav-sub">
				<% if user_signed_in? %>

					<li class="<%= 'active' if controller?('session') && action?('destroy') %>">
						<%= link_to destroy_user_session_path do %>
							<span class="icon"><i class="fa fa-sign-out"></i></span>Logout
						<% end %>
					</li>

					<li>
						<%= link_to edit_user_registration_path(current_user) do %>
							<span class="icon"><i class="fa fa-user"></i></span>Edit Profile
						<% end %>
					</li>

					<li>
						<%= link_to new_user_password_path(current_user) do %>
							<span class="icon"><i class="fa fa-key"></i></span>New Password
						<% end %>
					</li>

					<li>
						<%= link_to edit_user_password_path(current_user) do %>
							<span class="icon"><i class="fa fa-key"></i></span>Edit Password
						<% end %>
					</li>

				<% else %>
					<li class="<%= 'active' if controller?('session') && action?('new') %>">
					  <%= link_to new_user_session_path do %>
						<span class="icon"><i class="fa fa-sign-in"></i></span>Login
					  <% end %>
					</li>

					<li class="<%= 'active' if controller?('registrations') && action?('new') %>">
					  <%= link_to new_user_registration_path do %>
						<span class="icon"><i class="fa fa-user-plus"></i></span>Register
					  <% end %>
					</li>

				<% end %>
				</ul>
			</li>

			<li class="<%= 'active' if controller?('dashboard') && action?('index') %>">
				<a href="/dashboard">
					<i class="fa  fa-fw fa-tachometer"></i> Dashboard
				</a>
			</li>

			<li class="divider"></li>

			<h5 class="sidebar-header">Asset Management</h5>

			<li class="nav-dropdown <%= 'active open' if controller?('properties')%>">
				<a href="#">
					<i class="fa fa-fw fa-home"></i> Properties
				</a>
				<ul class="nav-sub">
					<li class="<%= 'active' if controller?('properties') && action?('new') %>">
						<a href="/properties/new">
							 New Property
						</a>
					</li>

					<li class="<%= 'active' if controller?('properties') && action?('index') %>">
						<a href="/properties">
							 View Properties
						</a>
					</li>
				</ul>
			</li>

			<li class="nav-dropdown <%= 'active open' if controller?('rooms')%>">
				<a href="#">
					<i class="fa fa-fw fa-hotel"></i> Rooms
				</a>
				<ul class="nav-sub">
					<li class="<%= 'active' if controller?('rooms') && action?('new') %>">
						<a href="/rooms/new">
							 New Room
						</a>
					</li>

					<li class="<%= 'active' if controller?('rooms') && action?('index') %>">
						<a href="/rooms">
							 View Rooms
						</a>
					</li>
				</ul>
			</li>

			<li class="nav-dropdown <%= 'active open' if controller?('devices')%>">
				<a href="#">
					<i class="fa fa-fw fa-lightbulb-o"></i> Devices
				</a>
				<ul class="nav-sub">
					<li class="<%= 'active' if controller?('devices') && action?('new') %>">
						<a href="/devices/new">
							 New Device
						</a>
					</li>

					<li class="<%= 'active' if controller?('devices') && action?('index') %>">
						<a href="/devices">
							 View Devices
						</a>
					</li>
				</ul>
			</li>

			<li class="nav-dropdown <%= 'active open' if controller?('schedules')%>">
				<a href="#">
					<i class="fa fa-fw fa-clock-o"></i> Schedules
				</a>
				<ul class="nav-sub">
					<li class="<%= 'active' if controller?('schedules') && action?('new') %>">
						<a href="/schedules/new">
							 New Schedule
						</a>
					</li>

					<li class="<%= 'active' if controller?('schedules') && action?('index') %>">
						<a href="/schedules">
							 View Schedules
						</a>
					</li>
				</ul>
			</li>

			<li class="nav-dropdown <%= 'active open' if controller?('events')%>">
				<a href="#">
					<i class="fa fa-fw fa-calendar"></i> Events
				</a>
				<ul class="nav-sub">
					<li class="<%= 'active' if controller?('events') && action?('new') %>">
						<a href="/events/new">
							 New Event
						</a>
					</li>

					<li class="<%= 'active' if controller?('events') && action?('index') %>">
						<a href="/events">
							 View Events
						</a>
					</li>
				</ul>
			</li>

			<li class="nav-dropdown <%= 'active open' if controller?('reminders')%>">
				<a href="#">
					<i class="fa fa-fw fa-bell"></i> Reminders
				</a>
				<ul class="nav-sub">
					<li class="<%= 'active' if controller?('reminders') && action?('new') %>">
						<a href="/reminders/new">
							 New Reminder
						</a>
					</li>

					<li class="<%= 'active' if controller?('reminders') && action?('index') %>">
						<a href="/reminders">
							 View Reminders
						</a>
					</li>
				</ul>
			</li>

			<h5 class="sidebar-header">Global Variables</h5>

			<li class="nav-dropdown <%= 'active open' if controller?('location_options') || 
														 controller?('status_options') || 
														 controller?('statuses') %>">
				<a href="#">
					<i class="fa fa-fw fa-cog"></i> Configuration Options
				</a>
				<ul class="nav-sub">
					<li class="<%= 'active open' if controller?('location_options') && action?('index') %>">
						<a href="/location_options">
							 Location Options
						</a>
					</li>              
				</ul>
			</li>

			<li class="divider"></li>

		</ul>
	</nav>

	<h5 class="sidebar-header">Account Settings</h5>

	<div class="setting-list">
		<div class="row">
			<div class="col-xs-8">
				<label for="check1" class="control-label">Share your status</label>
			</div>
			<div class="col-xs-4">
				<input type="checkbox" class="js-switch" checked id="check1"/>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8">
				 <label for="check2" class="control-label">Push Notifications</label>
			</div>
			<div class="col-xs-4">
				<input type="checkbox" class="js-switch" id="check2"/>
			</div>
		</div>
	</div>
	