 <!--sidebar right start-->
	<aside id="sidebar-right">
		<h4 class="sidebar-title">Favorites</h4>
		<div id="contact-list-wrapper">
			<div class="heading">
	<!-- 			<ul>
					<li class="new-contact"><a href="javascript:void(0)"><i class="fa fa-plus"></i></a>
					</li>
					<li>
						<input type="text" class="search" placeholder="Search">
						<button type="submit" class="btn btn-sm btn-search"><i class="fa fa-search"></i>
						</button>
					</li>
				</ul> -->
			</div>
			<div id="contact-list">
				<table class="table">
        <thead>
          <tr class="header-row">
            <th class="device-col-1 text-center">Status</th>
            <th class="device-col-2">Device</th>
          </tr>
        </thead>
        </table>
        <% favorite_devices.each do |device| %>
          <div class="row padding-md-all">
            <div class="col-md-5">
              <span class="animated fadeInLeft">
                <%= form_for device, remote: true do |f|  %>
                <div class="switch">
                  <%= f.check_box :status_code, {:id => "switch-submit", :type => "checkbox", :onclick => "javascript: document.list.submit();"}, 100, 101 %>
                  <label><i></i></label>
                </div>
                <i class="on animated bounceIn"></i>
              </span>
            </div>
            <div class="col-md-7 animated fadeInRightBig">
              <b class="device-name<%= " green-color" if device.status_code == 100 %>"><%= device.name %></b>
              <blockquote class="device-text">
                <b>Status: </b><i><%= device.status || "Unknown" %></i>
                <div class="padding-all-sm"><%= button_tag "Adjust Dimmer Level", data: { toggle: "collapse" }, href: "#collapse1", class: "btn btn-primary btn-xs embossed" %></div>
              </blockquote>
            </div>
            <div class="col-md-12 padding-top">
              <div class="panel-group">
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel panel-primary padding-md-all">
                    <div class="panel-heading">
                      <h2 class="panel-title">Adjust Dimmer Level</h2>
                    </div>
                      <div class="panel-body">
                        <label for="amount">Dimmer Level:</label>
                        <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                        <div id="slider"></div>
                        <%= f.hidden_field :status_level, id: "dimmer-slider" %>
                        <div class="text-right padding-top">
                          <%= f.submit nil, class: "btn btn-primary btn-xs embossed" %>
                        </div>
                      </div>    
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

      </div>
      <div id="contact-user">
        <div class="chat-user active"><span><i class="icon-bubble"></i></span>
        </div>
        <div class="email-user"><span><i class="icon-envelope-open"></i></span>
        </div>
        <div class="call-user"><span><i class="icon-call-out"></i></span>
        </div>
      </div>
    </div>
  </aside>
  <!--/sidebar right end-->

  <% content_for :javascript do %>
   <!--Load these page level functions-->
    <script>
    $(document).ready(function() {
      $("#slide-dimmer").slider({
        tooltip: 'always'
      })
    });
    </script>
  <% end %>