 <!--sidebar right start-->
	<aside id="sidebar-right">
		<h4 class="sidebar-title">Favorites</h4>
		<div id="contact-list-wrapper">
			<div class="heading">
	<!-- 			<ul>
					<li class="new-contact"><a href="javascript:void(0)"><i class="fa fa-plus"></i></a>
					</li>
					<li>
						<input type="text" class="search" placeholder="Search">
						<button type="submit" class="btn btn-sm btn-search"><i class="fa fa-search"></i>
						</button>
					</li>
				</ul> -->
			</div>
			<div id="contact-list">
				<table class="table">
        <thead>
          <tr class="header-row">
            <th class="device-col-1 text-center">Status</th>
            <th class="device-col-2">Device</th>
          </tr>
        </thead>
        <tbody>

				<% unless @configuration[:devices].nil? %>
          <% @configuration[:devices].each do |device| %>
        
          <tr class="device-row">
            <td class="device-sidebar-block">
              <span class="animated fadeInLeft">
                <%= form_for device, remote: true do |f|  %>
                <div class="switch">
                  <%= f.check_box :status_code, {:id => "switch-submit", :type => "checkbox", :onclick => "javascript: document.list.submit();"}, 100, 101 %>
                  <label><i></i></label>
                </div> 
                <%= f.submit nil, class: "hidden" %>
                <% end %>
                <i class="on animated bounceIn"></i>
              </span>
            </td>
            <td class="animated fadeInRightBig">
              <b class="device-name<%= " green-color" if device.status_code == 100 %>"><%= device.name %></b>
              <blockquote class="device-text">
                <b>Status: </b><i><%= device.status || "Unknown" %></i>
              </blockquote>
            </td>
          </tr>
          
          <% end %>
        <% end %>

			</div>
			<div id="contact-user">
				<div class="chat-user active"><span><i class="icon-bubble"></i></span>
				</div>
				<div class="email-user"><span><i class="icon-envelope-open"></i></span>
				</div>
				<div class="call-user"><span><i class="icon-call-out"></i></span>
				</div>
			</div>
		</div>
	</aside>
	<!--/sidebar right end-->