<%- model_class = User -%>
<div class="main-content">
  <div class="pageheader">
    <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => model_class.model_name.human.titleize %></h1>
    <p class="description">Edit Profile</p>
    <div class="breadcrumb-wrapper hidden-xs">
      <span class="label">You are here:</span>
      <ol class="breadcrumb">
         <li class="active">Edit Profile</li>
      </ol>
    </div>
	</div>

	<div id="editFormBox" style="margin-top:50px;" class="">
		<div class="row">
			<div class="col-md-offset-1 col-md-10 padding-top">
				<%= bootstrap_devise_error_messages! %>
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h4><%= t('.title', :resource => resource_class.model_name.human , :default => "Edit #{resource_name.to_s.humanize}") %></h4>
					</div>
					<div class="panel-body">
						<%= bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }, class: "form-inline") do |f| %>
							<div class="input-group col-md-12">
								<div class="col-md-6"><%= f.text_field :firstname, autofocus: true, class: "col-md-5 form-control" %></div>
								<div class="col-md-6"><%= f.text_field :lastname, class: "col-md-5 form-control" %></div>
							</div><br />
					

							<div class="input-group col-md-12">
								<div class="col-md-6"><%= f.email_field :email, class: "col-md-5 form-control" %></div>
								<%= f.hidden_field(:image_cache) %>
								<div class="col-md-6"><%= f.file_field :image, class: "col-md-5 form-control" %></div>
							</div><br />

							<div class="input-group col-md-12">
								<div class="col-md-6 form-group">
					        <%= f.label :password %> <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it', :default => "leave blank if you don't want to change it") %>)</i><br />
					        <%= f.password_field :password, :autocomplete => "off", hide_label: true, class: "col-md-5 form-control", id: "password" %>
					      </div>

					      <div class="col-md-6 form-group">
					        <%= f.label :password_confirmation %><br />
					        <%= f.password_field :password_confirmation, hide_label: true, class: "col-md-5 form-control", id:"password-confirmation"  %>
					      </div>
					    </div><br />

					    <div class="well-red-color well-sm center-block embossed" id="current-password">	 
						    <div class="input-group col-md-12">
							    <h2 class="col-md-6 text-center">Validate Current Password</h2>
							    <div class="col-md-6">
								    <%= f.label :current_password %> 
							      <%= f.password_field :current_password, hide_label: true, class: "form-control", placeholder: ' We need your current password to confirm your changes'  %>
							     </div>
								</div>
							</div>
				      	
							<div class="input-group col-md-12">	
								<div class="col-md-6"> 
									<%= f.submit  t('.Update', :default => "Update"), class: "padding-top col-md-5 btn-lg btn-block btn-primary embossed" %>
								</div>
								
								<div class="col-md-6"> 
									<%= button_to cancel_account_path, class: "btn-lg btn-block margin-all-sm embossed" do %>
										<i class="fa fa-exclamation-triangle %>"></i> Cancel Account
									<% end %>
								</div>
							</div>
			
						<% end %>
						
						
					</div>
				</div> 
			</div> 
		</div> 
	</div> 
</div>